---
layout: default
---

<article class="chapter banner">
  {% include name.html %}

  <div class="info">
    <p>
      <img src="/images/award.svg" />
      studying computer science at the royal institute of technology
    </p>
    <p>
      <img src="/images/briefcase.svg" />
      frontend developer at <a href="//sqore.com">sqore</a>
    </p>
    <p>
      <img src="/images/mail.svg" />
      <a href="mailto:aron@aronstrandberg.com">aron@aronstrandberg.com</a>
    </p>
    <p>
      <img src="/images/github.svg" />
      <a class="ico" href="http://github.com/aronstrandberg">@aronstrandberg</a>
    </p>
  </div>
</article>

{% include about.html %}

