p
	position: relative

.index:before
	background: url(images/me.png) no-repeat, url(images/checkers.png) repeat
	background-size: 100%, 16px
	content: ""
	display: block
	margin: 0 auto 50px
	height: 200px
	width: 200px
	border-radius: 100px
	box-shadow: 0 0 10px 10px rgba(0,0,0,0.1) inset
	position: static

a
	color: #c00
	text-decoration: none
	&:visited
		color: #c00

.bold
	font-weight: 700

body
	width: 85%
	margin: 4em auto
	font-size: 1.25em
	text-align: center
	@media all and (min-width: 700px)
		width: 630px
		font-size: 1.375em
	font-family: "calluna"
	color: #333
	line-height: 1.6
	font-style: normal
	font-weight: 500