p
	position: relative

p:before
	background: url("images/me.png") 100% 100% no-repeat, url("images/checkers.png") 16px 16px repeat
	// background-size: 100%
	content: ""
	display: block
	margin: 0 auto 50px
	height: 200px
	width: 200px
	border-radius: 100px
	box-shadow: 0 0 10px 10px rgba(0,0,0,0.1) inset
	position: static
	@media screen and (min-width: 900px)
		position: absolute
		left: -225px
		top: -25px

a
	color: #c00
	text-decoration: none
	&:visited
		color: inherit

.bold
	font-weight: 700

img
	background-image: url("/images/checkers.png")

body
	width: 90%
	margin: 4em auto
	@media all and (min-width: 900px)
		width: 600px
		margin-left: 250px
	@media all and (min-width: 1100px)
		margin: 4em auto
	font-family: "calluna"
	color: #333
	line-height: 1.6
	font-size: 1.375em
	font-style: normal
	font-weight: 500
