body {
	background: #fff;
	font-family: 'museo-sans', 'Myriad Pro', 'Verdana';
	font-weight: 500;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	margin: 0 auto;
	text-align: left;
	width: 90%;
	margin-left: 10%;
}

@media screen and (min-width: 1280px) {
	body {
		font-size: 3em;
	}
}

@media screen and (min-width: 480px) {
	body {
		font-size: 2em;
	}
}

@media screen and (max-width: 480px) {
	body {
		font-size: 1.5em;
	}
}

h1 {
	font-family: "museo-slab",serif;
	font-style: normal;
	font-weight: 300;
}

a, a:visited {
	color: #49e196;
}
a:hover {
	color: #3f996b;
}
a:visited {
	color: #1acb8d;
}

ul {
	list-style-type: none;
}