* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, pre, blockquote, label, ul, ol, dl, fieldset, address {
  margin: 1em 0;
}

body {
  background: white;
  margin: 2em auto;
  width: 800px;
  line-height: 1.6;
}
@media screen and (max-width: 768px) {
  body {
    width: 80%;
  }
}
@media screen and (max-width: 480px) {
  body {
    width: 92%;
  }
}

ul {
  list-style-type: none;
}

img {
  background: url(/images/checker.png);
}

div, article {
  display: inline-block;
}

button {
  border: none;
  background: rgba(255, 112, 112, 0.1);
}
button:hover {
  background: rgba(255, 112, 112, 0.2);
}

body {
  font-family: "adelle", "helvetica", verdana, sans-serif;
  font-weight: 300;
  font-size: 1em;
  font-smoothing: antialiased;
  text-align: left;
  line-height: 1.6;
}
@media screen and (min-width: 1440px) {
  body {
    font-size: 1em;
  }
}
@media screen and (max-width: 720px) {
  body {
    font-size: 0.95em;
  }
}
@media screen and (max-width: 480px) {
  body {
    font-size: 0.875em;
  }
}

/* HEADERS */
h1, h2, h3, h4, h5, h6 {
  font-family: "museo-slab", "adelle", helvetica, verdana, sans-serif;
  font-weight: 300;
  padding: 2px;
  text-align: left;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  padding: 5px;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.875em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.375em;
}

h6 {
  font-size: 1.25em;
}

.site-navigation {
  margin-bottom: 3em;
}

.identity {
  padding: 5px;
  margin: 0.5em auto;
  margin-bottom: 3em;
}

/* CODE */
pre > code {
  font-family: "Consolas";
  font-size: 12px;
  background: #eeeeee;
  display: block;
  padding: 1em;
  width: 100%;
  border-radius: 1em;
  border: solid 1px #e0e0e0;
}

/* LINKS */
a {
  text-decoration: none;
  background: rgba(255, 112, 112, 0.25);
  padding: 2px;
}
a:hover {
  background: rgba(255, 112, 112, 0.5);
}
a:active {
  background: rgba(255, 112, 112, 0.5);
}

a,
a:visited {
  color: black;
}

ol#pages {
  padding: 0;
  margin: 4em auto;
}

#pages a {
  padding: 0.25em 0.2em;
  background: none;
}
#pages a:hover {
  color: #ff7070;
}
#pages a:active {
  background: rgba(255, 112, 112, 0.5);
}
#pages a li {
  display: inline-block;
  padding: 0 0.58em;
}

#pages .selected {
  background: rgba(255, 112, 112, 0.5);
}

#pages a .selected {
  color: black;
}

.site-footer {
  margin-top: 5em;
}
.site-footer .scroll-to-top {
  padding: 4px 8px;
}
