body {
  background: white;
  margin: 0 auto;
  width: 800px;
  line-height: 1.6;
}
@media screen and (max-width: 768px) {
  body {
    width: 80%;
  }
}
@media screen and (max-width: 480px) {
  body {
    width: 92%;
  }
}

ul {
  list-style-type: none;
}

img {
  background: url(/images/checker.png);
}

body {
  font-family: "acuta", "helvetica", verdana, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-align: left;
}
@media screen and (min-width: 1440px) {
  body {
    font-size: 1.25em;
  }
}
@media screen and (max-width: 720px) {
  body {
    font-size: 0.95em;
  }
}
@media screen and (max-width: 480px) {
  body {
    font-size: 0.875em;
  }
}

/* HEADERS */
h1, h2, h3, h4, h5, h6 {
  font-family: "museo-slab", helvetica, verdana, sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.875em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.375em;
}

h6 {
  font-size: 1.25em;
}

.identity {
  border-bottom: 5px solid black;
}

/* CODE */
pre > code {
  font-family: "Consolas";
  font-size: 12px;
  background: #eeeeee;
  display: block;
  padding: 1em;
  width: 100%;
  border-radius: 1em;
  border: solid 1px #e0e0e0;
}

/* LINKS */
a {
  text-decoration: none;
  background: #ff7070;
}
a:hover {
  background: #ff6166;
}

a,
a:visited {
  color: black;
}

h3 a {
  background: none;
}
h3 a:hover {
  background: none;
}

ol#pages {
  padding: 0;
  margin: 4em auto;
}

#pages a {
  padding: 0.25em 0.2em;
  background: none;
}
#pages a:hover {
  color: #ff7070;
}
#pages a:active {
  background: #ff6166;
}
#pages a li {
  display: inline-block;
  padding: 0 0.58em;
}

#pages .selected {
  background: #ff7070;
}

#pages a .selected {
  color: white;
}
