\---
layout: default
title: Home
\---
{% for post in paginator.posts %}
.post
	%h3
		%a{:href => "../{{post.url}}"} {{post.title}} ∞
	{{post.content}}
{% endfor %}

#pagination
	{% if paginator.previous_page %}
	{% if paginator.previous_page == 1 %}
	%a{:href => "/blog/"} Previous
	{% else %}
	%a{:href => "/blog/page{{ paginator.previous_page }}"} Previous
	{% endif %}
	{% endif %}

	{% if paginator.total_pages > 1 %}
	%ol#pages
	{% for i in (1..paginator.total_pages) %}
		%li{% if i == paginator.page %} class="selected"{% endif %}
			%a{:href => "/blog/{% if i > 1 %}page{{ i }}{% endif %}"} {{ i }}
    	{% endfor %}
  	{% endif %}

	{% if paginator.next_page %}
	%a{:href => "/blog/page{{ paginator.next_page }}"} Next
	{% endif %}
