%html
	%head
		%title Aron / 2012
		%meta{:name => "author", :content => "Aron Strandberg"}/
		%meta{:name => "viewport",
		:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"}
		%style
			:sass
				html, body, div, img, caption, p
					margin: 0
					padding: 0
				body
					background: #fff
					width: 90%
					margin: 0 auto
					font-size: 100%
					font-family: 'museo-slab', serif
					font-style: normal
					font-weight: 300
				.entry
					margin: 25px auto 0 auto
				img
					width: 99%
					height: auto
					margin: 0 auto
					display: block
					background: url(/assets/checker.png)
				p
					font-size: 2em
					margin: 0 auto
					text-align: center
		%script{:src => "//use.typekit.net/hjf8kwf.js"}
		:javascript
			try{Typekit.load();}catch(e){}

	%body
		#main
			.entry
				%img{:src => "IMG_4080.JPG", :alt => ""}
				%caption
					%p Skylt.
			.entry
				%img{:src => "IMG_4069.JPG", :alt => ""}
				%caption
					%p Bullen.
			.entry
				%img{:src => "IMG_3978.JPG", :alt => ""}
				%caption
					%p Bullen.
			.entry
				%img{:src => "IMG_3969.JPG", :alt => ""}
				%caption
					%p Bullen.
			.entry
				%img{:src => "IMG_3968.JPG", :alt => ""}
				%caption
					%p Smulan.
			.entry
				%img{:src => "IMG_3950.JPG", :alt => ""}
				%caption
					%p Daunatj&aring;kko och tr&auml;d.
			.entry
				%img{:src => "IMG_3946.JPG", :alt => ""}
				%caption
					%p Stugan.
			.entry
				%img{:src => "IMG_3945.JPG", :alt => ""}
				%caption
					%p Tr&auml;d och sn&ouml;.
			.entry
				%img{:src => "IMG_3943.JPG", :alt => ""}
				%caption
					%p Daunatj&aring;kko.
			.entry
				%img{:src => "IMG_3931.JPG", :alt => ""}
				%caption
					%p Gren.
			.entry
				%img{:src => "IMG_3891.JPG", :alt => ""}
				%caption
					%p Pappa solar.
			.entry
				%img{:src => "IMG_3884.JPG", :alt => ""}
				%caption
					%p Skoter.