ol#pages
	// display: inline
	padding: 0
	margin: 4em auto

#pages a
	padding: 0.25em 0.20em
	background: none
	&:hover
		color: #FF7070
	&:active
		background: #ff6166
	li
		display: inline-block
		padding: 0 0.58em

#pages .selected
	background: #FF7070

#pages a .selected
	color: #fff
	// display: inline-block