ol#pages
	// display: inline
	padding: 0
	margin: 4em auto

#pages a
	// padding: 0.25em 0

#pages li
	display: inline-block
	padding: 0 0.5em

#pages .selected
	background: #49e196

#pages a .selected
	color: white
	// display: inline-block