$red: rgba(255, 112, 112, 0.25)
$dark-red: rgba(255, 112, 112, 0.5)

body
	font:
		family: "museo-slab", "helvetica", verdana, sans-serif
		weight: 300
		size: 16px
	color: #333333
	text-align: left
	line-height: 1.6

	@media all and (min-width: 720px)
		p
			font-size: 1.2em
	@media screen and (max-width: 720px)
		font-size: 0.95em
	@media screen and (max-width: 480px)
		font-size: 0.85em

/* HEADERS */

h1, h2, h3, h4, h5, h6
	font:
		family: "museo-slab", "adelle", helvetica, verdana, sans-serif
		weight: 300
	padding: 2px
	text-align: left

	a
		padding: 5px

h1
	font-size: 3em
h2
	font-size: 1.875em
h3
	font-size: 1.75em
h4
	font-size: 1.5em
h5
	font-size: 1.375em
h6
	font-size: 1.25em

.site-navigation
	margin-bottom: 3em

.identity
	padding: 5px
	margin: 0.5em auto
	margin-bottom: 3em

/* CODE */

pre > code
	font:
		family: "Consolas"
		size: 12px
	background: #eee
	display: block
	padding: 1em
	width: 100%
	border-radius: 1em
	border: solid 1px #e0e0e0

/* LINKS */

a
	text-decoration: none
	background: $red
	padding: 2px
	&:hover
		background: $dark-red
	&:active
		background: $dark-red

a,
a:visited
	color: #333