$red: rgba(255, 112, 112, 0.1)
$dark-red: rgba(255, 112, 112, 0.2)

*
	margin: 0
	padding: 0

h1, h2, h3, h4, h5, h6, p, pre, blockquote, label, ul, ol, dl, fieldset, address
	margin: 1em 0

body
	background: white
	margin: 2em auto
	width: 800px
	line-height: 1.60


	@media screen and (max-width: 768px)
		width: 80%
	@media screen and (max-width: 480px)
		width: 92%

ul
	list-style-type: none

img
	background: url(/images/checker.png)

div, article
	display: inline-block

button
	border: none
	background: $red
	&:hover
		background: $dark-red



@import typography
@import pagination
@import footer