$red: rgba(255, 112, 112, 0.25)
$dark-red: rgba(255, 112, 112, 0.5)

*
	margin: 0
	padding: 0

p, pre, blockquote, label, ul, ol, dl, fieldset, address, article
	margin: 1em 0

h1, h2, h3, h4, h5, h6
	margin: 0.5em 0

article
	margin-top: 1em

body
	background: white
	margin: 2em auto
	width: 800px

	@media screen and (max-width: 960px)
		width: 80%
	@media screen and (max-width: 480px)
		width: 92%

ul
	list-style-type: none

img
	background: url(/images/checker.png)
	width: 100%
	height: auto

div, article
	display: inline-block

button
	border: none
	background: $red
	&:hover
		background: $dark-red

@import typography
@import header
@import footer