$red: rgba(255, 112, 112, 0.1)
$dark-red: rgba(255, 112, 112, 0.2)

body
	background: white
	margin: 0 auto
	width: 800px
	line-height: 1.60

	@media screen and (max-width: 768px)
		width: 80%
	@media screen and (max-width: 480px)
		width: 92%

ul
	list-style-type: none

img
	background: url(/images/checker.png)

div, article
	display: inline-block

button
	border: none
	background: $red
	&:hover
		background: $dark-red



@import typography
@import pagination
@import footer