$background-color: #fefefe;
$text-color: #333;
$link-color: $text-color;
$selection-color: rgba(255,255,100, 0.5);

$font: "expo-sans-pro";
$header-font: $font;
$social-font: "ss-social-circle";
$profile-picture: "/images/aron.jpg";