$background-color: #fefefe;
$text-color: #333;
$link-color: $text-color;
$selection-color: rgba(238,68,68, 0.2);

// $font: "pt-sans", "Helvetica Neue", sans-serif;
// $font: "Gentium Book Basic", "Georgia", serif;
// $font: "rooney-web";
$font: "Vollkorn";
$header-font: $font;

$social-font: "ss-social-circle";
$profile-picture: "/images/aron.jpg";
