%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.single-page {
  height: 90vh;
  main {
    @extend %vertical-align;
  }
}

* {
  box-sizing: border-box;
}

body {
  width: 85%;
  font-size: 1.25em;
  @media screen and (min-width: 1000px) {
    font-size: 1.5em;
    width: 800px;
    margin: 0 auto;
  }
  @media print {
    font-size: 0.80em;
  }
  margin: 5em auto;
  text-align: justify;
  font-family: $font;
  font-style: normal;
  font-weight: 400;
  color: $text-color;
  background: $background-color;
  line-height: 1.6;
  font-style: normal;
}

@media handheld {
  body {
    padding: 5em 0;
  }
}


h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  font-weight: 500;
  // text-transform: uppercase;
}

h4 {
  font-style: italic;
}

h2 {
  margin-top: 1em !important;
}

.index:before {
  background: url($profile-picture) no-repeat, url(/images/checkers.png) repeat;
  background-size: 100%, 16px;
  content: "";
  display: block;
  margin: 50px auto;
  width: 80vw;
  height: 80vw;
  max-width: 500px;
  max-height: 500px;
  border-radius: 50%;
  position: static;
  text-align: center;
  border: 1px solid $text-color;
}

.social {
  margin-top: 3em;
  text-align: center;
}

.ss-icon {
  vertical-align: middle;
  font-size: 2em;
}

a {
  text-decoration: none;
  // padding: 4px 2px;
  padding: 0;
  color: $link-color;
  display: inline-block;
  position: relative;
  -webkit-transition: background 0.3s;
          transition: background 0.3s;

  &.ss-icon {
    color: $text-color;
  }
  
  &:not(.ss-icon):hover {
    // background: rgba(255, 255, 0, 0.2);
    background: rgba(238,68,68, 0.2);
  }

  &:visited {
    color: $link-color;
  }
  &:hover {
    // background: rgba(255, 255, 0, 0.3);
  }
  &:not(.ss-icon)::after {
    content: "";
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    margin-top: 0.4em;
    border-bottom: 2px solid lighten($text-color, 50%);
  }

  span::after {
  }
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.bold {
  font-weight: 500;
}

img {
  border: 2px solid $text-color;
}

::selection {
  background: $selection-color !important;
}

.typekit-badge {
  display: none !important;
}

