<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>dbuggen</title>
  <link rel="stylesheet" href="/projects/dbuggen/dbuggen.css">
</head>
<body>

{{ content }}


<footer class="colophon">
  <p>
    This site was made with <span style='color: rgba(255, 0, 63, 0.8);'>&hearts;</span> by <a href="http://aronstrandberg.com">Aron Strandberg</a> at KTH, Stockholm.
  </p>
</footer>

  {% include google-analytics.html %}
  <script src="//use.typekit.net/gsq0orq.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</body>
</html>
