---
layout: default
title: Home
---
{% for post in paginator.posts %}
	<div class="post">
		<h3><a href="../{{post.url}}">{{post.title}} ∞</a></h3>
		{{post.content}}
	</div>
{% endfor %}

<div id="pagination">
	{% if paginator.previous_page %}
		{% if paginator.previous_page == 1 %}
			<a href="/blog/">Previous</a>
		{% else %}
			<a href="/page{{ paginator.previous_page }}">Previous</a>
		{% endif %}
	{% endif %}

	{% if paginator.total_pages > 1 %}
		<ol id="pages">
			{% for i in (1..paginator.total_pages) %}
			  <li{% if i == paginator.page %} class="selected"{% endif %}><a href="/blog/{% if i > 1 %}page{{ i }}{% endif %}">{{ i }}</a></li>
			{% endfor %}
		</ol>
	{% endif %}

	{% if paginator.next_page %}
		<a href="/page{{ paginator.next_page }}">Next</a>
	{% endif %}
</div>